<div>Display this content when logged in.</div>
<!--div>
  <ul>
    <li *ngFor="let files of filesArray">
      <img src="http://media.mw.metropolia.fi/wbma/uploads/{{files.filename.split('.')[0]+'-tn320.png'}}">
      <p>{{files.title}}</p>
    </li>
  </ul>
</div-->
<div *ngFor="let files of filesArray">
  <img [alt]="files.title" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + (files.filename | thumbnail: 'small')">
  <!-- should transform: SOMEIMAGE.jpg => SOMEIMAGE-tn160.png -->
</div>
